<header class="bg-blue-200">
  <div class="mx-auto max-w-7xl px-4">
    <div class="flex items-center justify-between py-3">
      <div class="flex items-center gap-4">
        <a href="/" class="font-bold">Pogo Demo</a>
      </div>
    </div>
  </div>
</header>
<main class="py-2">
  <div class="mx-auto max-w-7xl">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
